<div *ngIf="invertRange; else notInvertColor">
  <e-range
    start="0"
    end="30"
    startWidth="8"
    endWidth="8"
    color="#089601"
    radius="108%"
  ></e-range>
  <e-range
    start="30"
    end="50"
    startWidth="8"
    endWidth="8"
    color="#085aff"
    radius="108%"
  ></e-range>
  <e-range
    start="50"
    end="70"
    startWidth="8"
    endWidth="8"
    color="#ffef00"
    radius="108%"
  >
  </e-range>
  <e-range
    start="70"
    end="90"
    startWidth="8"
    endWidth="8"
    color="#ff8600"
    radius="108%"
  >
  </e-range>
  <e-range
    start="90"
    end="100"
    startWidth="8"
    endWidth="8"
    color="#ff0000"
    radius="108%"
  >
  </e-range>
</div>

<ng-template #notInvertColor>
  <e-range
    start="100"
    end="90"
    startWidth="8"
    endWidth="8"
    color="#089601"
    radius="108%"
  ></e-range>
  <e-range
    start="90"
    end="70"
    startWidth="8"
    endWidth="8"
    color="#085aff"
    radius="108%"
  ></e-range>
  <e-range
    start="70"
    end="50"
    startWidth="8"
    endWidth="8"
    color="#ffef00"
    radius="108%"
  >
  </e-range>
  <e-range
    start="30"
    end="50"
    startWidth="8"
    endWidth="8"
    color="#ff8600"
    radius="108%"
  >
  </e-range>
  <e-range
    start="30"
    end="0"
    startWidth="8"
    endWidth="8"
    color="#ff0000"
    radius="108%"
  >
  </e-range>
</ng-template>
