<div id="content">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-7">
        <ejs-textbox
          placeholder="E-mail para envio"
          formErrorHandler
          formControlName="email"
        >
        </ejs-textbox>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <ejs-numerictextbox
          formControlName="breakingDay"
          placeholder="Intervalo em Dias"
          formErrorHandler
        >
        </ejs-numerictextbox>
      </div>
      <div class="col-md-2">
        <div class="align-check-box">
          <ejs-checkbox label="Enviar E-mail" formControlName="sendEmail">
          </ejs-checkbox>
        </div>
      </div>
      <div class="col-md-4 align-button">
        <button ejs-button buttonSave style="margin-right: 10px;" (click)="onSaveClick()"></button>
        <button ejs-button buttonDelete (click)="onRemoveClick()" [disabled]="disabledRemoveButton"></button>
      </div>
    </div>
  </form>
</div>
