<app-modal modalHeader="Previsão Próximos 5 Dias" dialogClass="xl">
  <ng-template #bodyTemplate>
    <div *ngFor="let forecastDay of forecastDays">
      <h5>Data: {{ forecastDay.date }}</h5>
      <div class="row">
        <div *ngFor="let item of forecastDay.days" class="col-md-3">
          <h6>
            Horário: {{ item.time }}
            <img [src]="item.icon" alt="Condições atuais" />
          </h6>
          <p>
            Vento: {{ item.wind.speed }} Km/h <br />
            Temperatura: {{ item.temp }} °C <br />
            Umidade: {{ item.humidity }} %<br />
          </p>
        </div>
      </div>
      <hr />
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <button ejs-button buttonCancel (click)="onModalClose()"></button>
  </ng-template>
</app-modal>
