<div class="alert alert-{{alertContent.cssClass}} footer" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onCloseClick()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-header">
    <div class="align-header">
      <i class="{{alertContent.iconCss}} size-icons"></i>
      <h4 class="alert-heading">{{alertContent.title}}</h4>
    </div>
  </div>
  <hr>
  <div class="modal-body">
    <p>{{alertContent.message}}
    </p>
  </div>
</div>
