p {
  max-width: 60ch;
  overflow: hidden;
  white-space: pre-wrap;
  color: var(--text-menu);
}

.align-header {
  display: flex;
  align-items: baseline;
}

.size-icons {
  font-size: 50px;
  padding-right: 5px;
}

.footer {
  margin-bottom: 0;
}
