::ng-deep {
  .modal-large {
    max-width: calc(100vw - 45vw);
  }

  .modal-xl {
    max-width: calc(100vw - 45vw);
  }

  body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background-color: #0c0f15;
    overflow-x: hidden;
    color: #ababab;
  }

  .pt-table {
    display: table;
    width: 100%;
    height: -webkit-calc(100vh - 4px);
    height: -moz-calc(100vh - 4px);
    height: calc(100vh - 4px);
  }

  .back-ground-image {
    background-image: url(https://i.pinimg.com/originals/f5/3d/3f/f53d3f8a2b09f6431df49140c39ba639.jpg);
    background-position: center;
    background-size: cover;
  }

  .pt-tablecell {
    display: table-cell;
    vertical-align: middle;
  }

  .page-home {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
  }
  .page-home .overlay {
    background-color: rgba(14, 17, 24, 0.97);
  }
}
