<div class="container align-container">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <h3 class="custom-text">Sobre:</h3>
        <p class="custom-text">
          O sistema foi desenvolvido utilizando o framework Angular e biliotecas
          como bootstrap para sua complementação. O aplicativo tem como objetivo
          primário identificar a previsão de tempo de cidades brasileiras e
          internacionais, também contendo uma lista salva de previsões de
          cidades que o usuário deseja, assim como notificas sobre climas e
          algumas configurações gerais do sistema.
        </p>
        <div class="align-footer-items">
          <div>
            <button ejs-button buttonReturn (click)="onReturnClick()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
