:host::ng-deep {
  .align-button-search {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  .align-container {
    display: flex;
    justify-content: center;
  }

  .align-historic-button {
    margin-right: 10px;
  }

  .card {
    background: linear-gradient(180deg, rgba(89, 76, 238, 1) 0%, #8dd0f5 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    color: #fdfdfd;
    border-radius: 1rem;
    min-width: calc(100vw - 1000px);
    padding: 15px;
  }

  .align-footer-items {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .align-content {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
  }

  .align-tab-content {
    padding-top: 20px;
  }

  .card-content-tab {
    min-height: calc(100vh - 800px);
  }

  .align-check-box {
    margin-top: 10px;
  }

  .align-button {
    margin-top: 10px;
    padding-right: 10px;
  }

  .align-button-save-my-account {
    padding-left: 25px;
  }

  .weather-detail {
    padding: 5px;
  }

  .align-text-content {
    padding-left: 30px;
  }
}
